.state {
  fill:#d3d3d3;
  stroke:#fff;
  stroke-width:1.75;
  stroke-opacity:.5;
}

.colors{
  fill: #123456;

}
text {
  font: 10px sans-serif;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.CA {
  fill: red;
}
